/* enjoy */

body {
    background-color: #fff;
    background-image: url('app/ext/geek2gether/images/Nile SSO Login Background v2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

div.login-ui {
    background-color: white !important;
}

.page-tabs .page-list li a[href].current {
    background: #5A2C81 !important; /* Deep Purple */
    color: #FFFFFF !important;
}

/* menu page settings */
.page-tabs .page-list li a[href]:hover {
    background: #6457A6 !important; /* Light Purple/Blue */
    color: #FFFFFF !important;
}

.page-list-level li .menu-dropdown {
    background: #3A4466 !important; /* Darker Blue */
}

.list-item:not(.selected) .caption:hover {
    background: #e5e5cd !important;
    border: solid 1px #CCCCCC !important;
}

.recent-connections .connection:hover {
    background: #a3baab !important;
}

.user-menu {
    background: #fff !important;
    color: #000000 !important;    
}

.user-menu:hover {
    background: #5A2C81 !important; /* Deep Purple */
    color: #ffffff !important;    
}

.menu-dropdown .ng-isolate-scope .open {
    background: #3A4466 !important; /* Darker Blue */
}

.header {
    background: #10101A !important; /* Very Dark Blue */
    color: #fff !important;
}

.list-item .name {
    color: #5A2C81; /* Deep Purple */
    font-weight: 400;
    padding: 0.1em;
    margin-left: 0.25em;
}

a.button, button, input[type=submit] {
    background-color: #5A2C81; /* Deep Purple */
    color: #FFFFFF;
}

.login-ui .login-dialog .logo {
    display: block;
    margin: 0.5em auto;
    width: 3em;
    height: 3em;
    background-size: 3em 3em;
    background-image: url(app/ext/geek2gether/images/geek2gether_logo.png);
}

.login-ui .login-dialog {
    background-color: rgba(0, 0, 0, 0.85); /* Semi-transparent dark */
    max-width: 5in;
    border: solid 5px #10101A; /* Very Dark Blue */
}

.login-ui .login-dialog .version .app-name {
    font-weight: 300;
    text-transform: none;
    text-align: center;
    font-size: 1.05em;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* login page error */
.login-ui.error p.login-error {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 1em;
    margin: 0.2em;
    background: #f14141;
    border: 1px solid #9d5b5b;
    border-radius: 0.25em;
    text-align: center;
    color: #000;
}

input[name="username"], input[name="password"], input[name="guac-totp"], input[ng-model="searchString"] {
    background-color: #fff !important;
}

/* the login page header called "navigation" */
.navigation {
    background: #10101A !important; /* Very Dark Blue */
    color: #fff !important;
}

.navigation a:hover {
    background-color: #5A2C81; /* Deep Purple */
    color: white;
}

.navigation a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    max-width: unset;
    float: right;
    padding-left: 88px;
    padding-right: 88px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 64px;
    background: #1b74da; /* Existing blue, feel free to adjust */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

/* Add logo on the upper left */
.hlogo {
    width: 145px;
    height: 60px;
    background: black url(app/ext/geek2gether/images/geek2gether_logo.png) no-repeat left/142px;
    font-size: 0;
    line-height: 0;
}
